.schema-loadmore-list .ant-list-item {
	padding: 0 0 20px 0;
	/* background-color: rgb(254, 254, 254); */
}

.schema-loadmore-list {
	min-height: 350px;
}



.schema-loadmore-list .ant-btn {
	border-radius: 0px;
}

.schema-loadmore-list .visible-more {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.schema-loadmore-list .unvisible-more {
	display: none;
}

.brain-form-page-title {
	font-size: 20px;
	font-weight: 400;
	margin: 0 auto;
	max-width: 1180px;
	align-items: center;
	text-align: center;
	padding-bottom: 25px;
  }
  
  .brain-form-page-bg {
	margin: 0 auto;
	align-items: center;
	width: 700px;
	background: #ffffff;
  }
  
  .brain-form-page-main {
	margin: 0 auto;
	text-align: center;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 400px;
	/* height: 680px; */
	background: #ffffff;
  }
  
/**提供内敛的白色阴影，把浏览器自动autofill表单时的灰蓝色颜色去掉*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black;
  } 

.main-form{
	width: 500px;
	margin: 2% auto 0 auto;
	border: 1px solid lightgrey;
	border-radius: 4px;
	display: flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	padding: 0px 20px 0px 20px;
}