:root {
    --schema-detail-font-size: 14px;
    --schema-detail-font-weight: 400;
    --schema-detail-line-height: 2;
}

#schema-detail-content {
    width: 100%;
    margin: auto;
}

#schema-detail-content .ant-card{
    border-radius: 0;
}

#schema-detail-content .ant-card-head
{
    font-size: 18px;
    border-radius: 0;
    border-left: 4px solid #1677ff;

}

#schema-detail-content  .ant-tabs-tab,
#schema-detail-content  .ant-tabs-tabpane 
{
    font-size: var(--schema-detail-font-size);
    font-weight: var(--schema-detail-font-weight);
    line-height: var(--schema-detail-line-height);
}

  