.username-input {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: stretch;
    background-color:white;
}

.username-icon {
    width: 30px;
    height: 30px;
}

.username-text {
    width: 100%;
    margin-left: 10px;
    outline: none;
    border: none;
}



