.App {
	text-align: center;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #f6f6f8;
	min-height: 100vh;
}

.ant-btn {
	border-radius: 0px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.site-layout {
	flex-grow: 1;
	width: 65%;
	margin-left:auto;
	margin-right: auto;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}


.main-content {
	width: 800px;
	/* min-height: 1680px; */
	float: left;
	/* background-color: rgb(255, 255, 255); */
}
.slide-content {
	width: 350px;
	float: right;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
