.slide-card {
	background-color: rgb(255, 255, 255);
	padding: 12px 24px 35px 24px;
	-webkit-box-shadow: 0px 3px 3px #dedada;
	-moz-box-shadow: 0px 3px 3px hsl(0, 6%, 86%);
	box-shadow: 0px 3px 3px #dedada;
	margin: 0 0 20px 0;
}

.slide-card-header {
	font-size: 20px;
	font-weight: 700;
}

.slide-card-footer {
	height: 15px;
	float: right;
}

.slide-card .ant-list .ant-list-item {
	padding: 10px 0 10px 0;
}

.ant-tag {
	padding: 5px 10px;
	border-radius: 0px;
}
